[data-cache-helper]{
  outline: 2px dashed red;
}

[data-cache-helper]:before {
  position: absolute;
  background: red;
  opacity: 0.25;
  content: attr(data-cache-helper);
  z-index: 9999;
  max-width: 100%;
  word-spacing: 30000px;
}
[data-cache-helper]:hover:before {
  opacity: 0.75;
}
