[data-cache-debug]{
  outline: 2px dashed red;
}

[data-cache-debug]:before {
  position: absolute;
  background: red;
  opacity: 0.25;
  content: attr(data-cache-debug);
  z-index: 9999;
  max-width: 100%;
  word-spacing: 30000px;
}
[data-cache-debug]:hover:before {
  opacity: 0.75;
}
